<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>対戦登録</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/match.css">
</head>

<body>
    <div class="d-flex">
        <!-- サイドバー -->
        <nav id="sidebar" class="bg-dark text-white p-3">
            <navi_sideber activekbn="2"></navi_sideber>
        </nav>

        <!-- オーバーレイ 
        <div id="overlay"></div>
        -->
        
        <!-- メインコンテンツ -->
        <div class="flex-grow-1 content-wrapper">
            <!-- ヘッダー -->
            <header class="bg-info text-white p-3 d-flex justify-content-between align-items-center">
                <h2>対戦登録</h2>
                <button class="btn btn-light d-md-none" id="sidebarToggle">
                    <i class="bi bi-list"></i>
                </button>
            </header>

            <!-- コンテンツ -->
            <main id="content" class="p-4">

                <!-- モーダル呼び出しのサンプル 
                <div id="igo_modal">
                    <modal 
                        :title="'対戦成績を登録中...'"
                        :detail="'選択した行を削除します。よろしいですか？'"
                        :danger_info = "'いいえ'"
                        :primary_info = "'はい'"
                        :is_confirm = "true">
                    </modal>
                </div>
                -->

                <!-- 対戦結果入力フォーム -->
                <div id="form-input">
                    <forminput v-model="match_info.black_name" 
                        :label_for="'black_name'" , 
                        :item_name="'黒番'" ,
                        :type="'text'" , 
                        :placeholder="'例：ログインID'" , 
                        :error_message="error_info.black_name" ,
                        :class_name="'text-danger'" , 
                        :icon="'bi bi-exclamation-circle-fill'">
                    </forminput>

                    <forminput v-model="match_info.white_name" 
                        :label_for="'white_name'" , 
                        :item_name="'白番'" ,
                        :type="'text'" , 
                        :placeholder="'例：対局相手'" , 
                        :error_message="error_info.white_name" ,
                        :class_name="'text-danger'" , 
                        :icon="'bi bi-exclamation-circle-fill'">
                    </forminput>

                    <forminput v-model="match_info.result" 
                        :label_for="'result'" , 
                        :item_name="'結果'" ,
                        :type="'text'" , 
                        :placeholder="'例：黒6目半勝ち'" , 
                        :error_message="error_info.result" ,
                        :class_name="'text-danger'" , 
                        :icon="'bi bi-exclamation-circle-fill'">
                    </forminput>

                    <forminput v-model="match_info.result" 
                        :label_for="'result_link'" , 
                        :item_name="'棋譜'" ,
                        :type="'url'" , 
                        :placeholder="'例：https://gokifu.net/kifutweet2.php'" , 
                        :error_message="error_info.result_link" ,
                        :class_name="'text-info'" , 
                        :icon="'bi-check-circle-fill'">
                    </forminput>

                    <forminput v-model="match_info.result" 
                        :label_for="'match_at'" , 
                        :item_name="'対戦日'" ,
                        :type="'date'" , 
                        :placeholder="'例：2025/01/01'" , 
                        :error_message="error_info.match_at" ,
                        :class_name="'text-info'" , 
                        :icon="'bi-check-circle-fill'">
                    </forminput>
                    
                    <!-- ラジオボタン -->
                    <label class="form-label d-block"><i class="me-1 bi-check-circle-fill text-info"></i>公開設定</label>
                    <formradio v-model="match_info.public_flag" 
                        name="public_flag"
                        :item_name="'公開'" 
                        :label_for="'public'" 
                        :checked= "match_info.public_flag === '1'">
                    </formradio>                    
                    <formradio v-model="match_info.public_flag" 
                        name="public_flag" 
                        :item_name="'非公開'" 
                        :label_for="'private'"  
                        :checked= "match_info.public_flag === '0'">
                    </formradio>

                    <!-- コメント -->
                     <formtextarea v-model="match_info.comment"
                        :label_for="'comment'" , 
                        :item_name="'コメント'" ,
                        :placeholder="'上手く打たれたけど、満足できる１局だった'" , 
                        :error_message="error_info.comment" ,
                        :class_name="'text-info'" , 
                        :icon="'bi-check-circle-fill'">
                    </formtextarea>

                    <!-- 登録ボタン押下後にバリデーションチェックを行う -->
                    <div>
                        <button type="button" class="btn btn-primary" @click="register">登録</button>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.prod.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/content.js"></script>

</body>

</html>