<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>囲碁対戦管理ダッシュボード</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/match.css">
</head>

<body>
    <div class="d-flex">
        <!-- サイドバー -->
        <nav id="sidebar" class="bg-dark text-white p-3">
            <navi_sideber activekbn="1"></navi_sideber>
        </nav>

        <div class="flex-grow-1 content-wrapper">
            <header class="bg-info text-white p-3 d-flex justify-content-between align-items-center">
                <h2>対戦成績一覧</h2>
                <button class="btn btn-light d-md-none" id="sidebarToggle">
                    <i class="bi bi-list"></i>
                </button>
            </header>
            <!-- コンテンツ -->
            <main id="content" class="p-4">

                <div id="grade" class="table-responsive mb-1">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th colspan="3" class="text-center bg-info-subtle">通算対戦成績</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>黒勝利数:</strong> {{ gradeInfo.blackVictory }}勝</td>
                            <td><strong>白勝利数:</strong> {{ gradeInfo.whiteVictory  }}勝</td>
                            <!--
                            <td><strong>勝率:</strong> {{ winRate }}%</td>
                            -->
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- 削除ボタン -->
                <div class="mb-3">
                    <button class="btn btn-danger">
                        選択した対戦を削除
                    </button>
                </div>
                
                <div id="matchList" class="table-responsive">

                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <label for="searchOption">1ページの表示件数</label>
                                <select v-model="displayCount">
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>        
                            </div> 

                            <div class="col-4">
                                <label for="searchOption">選択式検索</label>
                                <select v-model="selectedKeyWord" @change="searchFilter">
                                    <option value="1">自分の対戦成績のみ</option>
                                    <option value="2">公開済のすべての対戦成績</option>
                                </select>        
                            </div>

                            <div class="col-4">
                                <label for="inputKeyword">キーワード検索</label>
                                <input type="text" v-model="inputKeyword" placeholder="例：黒番の名前">
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>編集</th>
                                <th>黒番</th>
                                <th>白番</th>
                                <th>結果</th>
                                <th>棋譜</th>
                                <th>対局日</th>
                                <th>コメント</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <div>Checked names: {{ delCheckList }}</div> -->
                            <tr v-for="matchInfo in displayMatches" :key="matchInfo.id">
                                <td><input type="checkbox" :value="matchInfo.id" v-model="delCheckList"></td>
                                <td>{{ matchInfo.id }}</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-secondary">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                </td>
                                <td>{{ matchInfo.black_name }}</td>
                                <td>{{ matchInfo.white_name }}</td>
                                <td>{{ matchInfo.result }}</td>
                                <td>
                                    <a>棋譜を見る</a>
                                </td>
                                <td>{{ matchInfo.match_at }}</td>
                                <td>{{ matchInfo.comment }}</td>
                            </tr>
                        </tbody>
                     </table>

                    <!-- ページング -->
                    <nav aria-label="Page navigation">;
                        <ul class="pagination justify-content-center">
                            <!-- 前へ -->
                            <li class="page-item" :class="{disabled: currentPage === 1}">
                                <a class="page-link" @click="prevPage()" href="#">前へ</a>
                            </li>

                            <!-- ページ遷移 -->
                            <li v-for="page in calcTotalPageLink" :key="page" class="page-item">
                                <a class="page-link" @click="pageTransition(page)" href="#">{{ page }}</a>
                            </li>

                            <!-- 次へ -->
                            <li class="page-item" :class="{disabled: currentPage === totalPage}">
                                <a class="page-link" @click="nextPage()" href="#">次へ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </main>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.prod.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/content.js"></script>
    <script src="js/list.js"></script>
</body>
</html>