<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>囲碁対戦管理ダッシュボード</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/match.css">
</head>

<body>
<div class="d-flex">
    <!-- サイドバー -->
    <nav id="sidebar" class="bg-dark text-white p-3">
        <navi_sideber activekbn="1"></navi_sideber>
    </nav>

    <div class="flex-grow-1 content-wrapper">
        <header class="bg-info text-white p-3 d-flex justify-content-between align-items-center">
            <h2>対戦成績一覧</h2>
            <button class="btn btn-light d-md-none" id="sidebarToggle">
                <i class="bi bi-list"></i>
            </button>
        </header>
        <!-- コンテンツ -->
        <main id="content" class="p-4">

            <!--
            <div id="igo_modal">
                <modal
                    :title="'削除確認'"
                    :detail="'選択した行を削除します。よろしいですか？'"
                    :danger-info = "'いいえ'"
                    :primary-info = "'はい'"
                    :is-confirm = "true"
                    :modal-id = "'confirmModal'"
                    :screen-id="''"
                    @custom-event="deleteApi()">
                </modal>
            </div>
            -->

            <!-- 成績のまとめ（？）は不要な気がする
            <div id="grade" class="table-responsive mb-1">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th colspan="3" class="text-center bg-info-subtle">通算対戦成績</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>黒勝利数:</strong> {{ gradeInfo.blackVictory }}勝</td>
                        <td><strong>白勝利数:</strong> {{ gradeInfo.whiteVictory  }}勝</td>
                        <td><strong>勝率:</strong> {{ winRate }}%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            -->

            <div id="matchList" class="table-responsive">
                <!-- 削除確認モーダル -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">削除確認</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                選択した対戦結果を削除します。よろしいですか？
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @click="deleteApi()">はい</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- APIコールエラーメッセージ表示 -->
                <div v-if="errorMessage" class="alert alert-danger" role="alert">
                    {{ errorMessage }}
                </div>

                <div class="container mt-4">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="displayCount" class="mb-2">1ページの表示件数</label>
                                <select v-model="displayCount" class="form-control" id="displayCount">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="selectedKeyWord" class="mb-2">選択式検索</label>
                                <select v-model="selectedKeyWord" @change="searchFilter" class="form-control" id="selectedKeyWord">
                                    <option value="1">自分の対戦成績のみ</option>
                                    <option value="2">公開済のすべての対戦成績</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="inputKeyword" class="mb-2">キーワード検索</label>
                                <input type="text" v-model="inputKeyword" placeholder="例：黒番の名前" class="form-control" id="inputKeyword">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 削除ボタン -->
                <div class="mb-3　mt-3">
                    <button class="btn btn-danger" @click="openDeleteModal('confirmModal')" :disabled="delCheckList.length === 0" >
                        選択した対戦を削除
                    </button>
                </div>

                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>編集</th>
                        <th>黒番</th>
                        <th>白番</th>
                        <th>結果</th>
                        <th>棋譜</th>
                        <th>対局日</th>
                        <th>コメント</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- <div>Checked names: {{ delCheckList }}</div> -->
                    <tr v-for="matchInfo in displayMatches" :key="matchInfo.id">
                        <td><input type="checkbox" :value="matchInfo.id" v-model="delCheckList"></td>
                        <td>{{ matchInfo.id }}</td>
                        <td>
                            <button class="btn btn-sm btn-outline-secondary" @click="transitionEdit($event, matchInfo)">
                                <i class="bi bi-pencil"></i>
                            </button>
                        </td>
                        <td>{{ matchInfo.black_name }}</td>
                        <td>{{ matchInfo.white_name }}</td>
                        <td>{{ matchInfo.result }}</td>
                        <td>
                            <a :href="matchInfo.result_link" target="_blank">棋譜を見る</a>
                        </td>
                        <td>{{ matchInfo.match_at }}</td>
                        <td>{{ matchInfo.comment }}</td>
                    </tr>
                    </tbody>
                </table>

                <!-- ページング -->
                <nav aria-label="Page navigation">;
                    <ul class="pagination justify-content-center">
                        <!-- 前へ -->
                        <li class="page-item" :class="{disabled: currentPage === 1}">
                            <a class="page-link" @click="prevPage()" href="#">前へ</a>
                        </li>

                        <!-- ページ遷移 -->
                        <li v-for="page in calcTotalPageLink" :key="page" class="page-item">
                            <a class="page-link" @click="pageTransition(page)" href="#">{{ page }}</a>
                        </li>

                        <!-- 次へ -->
                        <li class="page-item" :class="{disabled: currentPage === totalPage}">
                            <a class="page-link" @click="nextPage()" href="#">次へ</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.prod.js"></script>
<script src="js/menu.js"></script>
<script src="js/content.js"></script>
<script src="js/list.js"></script>
</body>
</html>